<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sysBasicPro</title>
    <meta name="description" content="">
    <meta name="author" content="xxx">
</head>
<body>
	<div id='logo'><img src='..\..\imgs\logo.png'> {Nom de l'empresa}</div>

	<div id='cabecera'>
	<table border=1>
		<!-- Validez = {documentos.fecha} + {presupuestos.dias_de_validez_presupuesto}-->
		<tr><td>Documento número</td><td>{facturas.numero_documento}</td><td>Factura número</td><td>{facturas.numero_factura}</td><td>Fecha</td><td>{documentos.fecha}</td></tr>
		<tr><td>Cliente</td><td>{clientes.nif}</td><td colspan='4'>{clientes.nombre}</td>
	</table>
	</div>

	<div id='contenido'>
	{lineas_de_producto}
	</div>

	<div id='pie'>
		<table border=1>
		<tr><td>Total bruto</td><td>{TBrut}</td><td>Total IVA</td><td>{Tiva}</td><td>Importe total</td><td>{Total}</td></tr>
		<tr><td>Vencimiento</td><td>{facturas.vencimiento}</td><td>Tipo de pago</td><td>{facturas.tipo_de_pago}</td><td>Domiciliación pago</td><td>{facturas.domicilio_pago}</td></tr>
		</table>
	</div>

</body>
</html>
