

    <body>
        <div class="navbar navbar-default navbar-inverse navbar-static-top">

            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div style="height: 0px;" class="navbar-collapse  navbar-ex1-collapse collapse">



                    <div class="col-md-12 pull-right">
                        <div class="col-md-3">
                            <img src="imgs/logo.png" class="img-responsive img-circle" width="200">
                        </div>
                        <ul class="nav nav-pills pull-left navbar-inverse menu-top">
                            <li>
                                <a href="process.php/?action=show&show=home">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="process.php/?action=show&show=usuarios">Usuarios
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="process.php/?action=show&show=clientes">Clientes</a>
                            </li>
                            <li>
                                <a href="process.php/?action=show&show=productos">Productos</a>
                            </li>
                            <li>
                                <a href="process.php/?action=show&show=proveedores">Proveedores</a>
                            </li>
                            <li>
                                <a href="process.php/?action=show&show=presupuestos">Presupuestos</a>
                            </li>
                            <li>
                                <a href="process.php/?action=show&show=pedidos">Pedidos</a>
                            </li>
                            <li>
                                <a href="process.php/?action=show&show=facturas">Facturas</a>
                            </li>

                        </ul>
                        <div class="nav nav-pills pull-right navbar-inverse menu-top">
                            <p class="label label-sm"><b>{user}</b>
                            </p><a class="btn btn-default btn-sm"  href="process.php/?action=logout">Salir</a>
                            <p class="label label-sm"><b>  </b>
                            </p><a class="btn btn-danger btn-sm"  href="process.php/?action=config">Configuracion</a> 
                        </div>
                    </div>

                </div>
            </div>
            <hr>
        </div>
        <hr>
        <div class="container">
            {container}
        </div>

























    </body>

</html>