<!--//DIEGO fet el 27/06/2014-->
<!--//revisat MIREIA fet el 30/06/2014-->
<!--//revisat Manel 02/07/2014 -->
<form method='POST' action='app.php'>
<input type='hidden' name='action'  />
    <br>
    <label>NIF:</label>
    <input type='text' name='nif' size='9' value='{nif}' required='required'/></br>
    <br>
    <label>Nombre:</label>
    <input type='text' name='nombre' size='10' value='{nombre}' required='required'/></br>
    <br>
    <label>Apellidos:</label>
    <input type='text' name='apellidos' size='30' value='{apellidos}'required='required'/></br>
    <br>
    <label>Direcci&oacute;n:</label>
    <input type='text' name='direccion' size='40' value='{direccion}' required='required' /></br>
    <br>
    <label>CP:</label>
    <input type='text' name='cp'size='30' value='{CP}' required='required' /></br>
    <br>
    <label>Poblaci&oacute;n:</label>
    <input type='text' name='poblacion' size='50' value='{poblacion}'/></br>
    <br>
    <label>Tel&eacute;fono:</label>
    <input type='text' name='telefono' size='30' value='{telefono}'/></br>
    <br>
    <label>Mail:</label>
    <input type='mail' name='mail' size='50' value='{mail}' required='required'/></br>
    <br>
    <label>Imagen:</label>
    <input type='file' name='imagen' value='{imagen}' /></br>
    <br>
    <label>Domicilio de pago:</label>
    <input type='text' name='domicilio de pago'size='50' value='{domicilio_pago}' required='required'/></br>
    <br>
    <label>Activo:</label>
    <input type='text' name='activo' value='{activo}'/></br>

<button type='submit' name='submit'/>Grabar</button>
<button type='reset' name='reset' />Nuevo</button>
</form>
<form method="POST" action="process.php">
<input type="hidden" name="action" value="show">
     <button class="btn btn-primary" name="show" value="home">Volver</button>
</form>